Repository OpenJij/cimod: changes, and which Codecov flags are due for each by the changed paths.
All: cxxcimod, cimod

codecov.yml:

codecov:
  ci:
    - github.com
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
   
comment:
  behavior: default
  layout: "reach, diff, flags, files"
  require_base: no
  require_changes: false
  require_head: no
  
coverage:
  status:
    patch:
      default:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
    project:
      default:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
      cxxcimod:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
        flags:
          - cxxcimod
      cimod:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
        flags:
          - cimod
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: yes
      
flag_management:
  default_rules: 
    carryforward: true
flags:
  cxxcimod:
    paths: 
      - src
    carryforward: true
  cimod:
    paths: 
      - cimod
    carryforward: true

ignore:
  - "external/nlohmann_json/nlohmann/json.hpp"
  - "test"
 
github_checks:
  annotations: true

Update test_0_basic.py
  tests/test_0_basic.py
Due: none

Update response.py
  cimod/utils/response.py
Due: cimod

Update vartype.py
  cimod/vartype.py
Due: cimod

Update binary_quadratic_model.py
  cimod/model/legacy/binary_quadratic_model.py
Due: cimod

Update binary_polynomial_model.py
  cimod/model/binary_polynomial_model.py
Due: cimod

Update binary_quadratic_model.py
  cimod/model/binary_quadratic_model.py
Due: cimod

Update decolator.py
  cimod/utils/decolator.py
Due: cimod

Create .clang-format
  .clang-format
Due: none

Update format.yml
  .github/workflows/format.yml
Due: none

Update .clang-format
  .clang-format
Due: none

FORMAT
  cimod/model/binary_polynomial_model.py
  cimod/model/binary_quadratic_model.py
  cimod/model/legacy/binary_quadratic_model.py
  cimod/utils/decolator.py
  cimod/utils/response.py
  format-requirements.txt
  setup.py
  src/binary_polynomial_model.hpp
  src/binary_quadratic_model.hpp
  src/binary_quadratic_model_dict.hpp
  src/disable_eigen_warning.hpp
  src/hash.hpp
  src/utilities.hpp
  src/vartypes.hpp
Due: cxxcimod, cimod

Fix Release Build
  .github/workflows/build_and_upload.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update build_and_upload.yaml
  .github/workflows/build_and_upload.yaml
Due: none

Create oneAPI.repo
  oneAPI.repo
Due: none

Update MANIFEST.in
  MANIFEST.in
Due: none

Delete oneAPI.repo
  oneAPI.repo
Due: none
