Repository OpenJij/cimod: changes, and which Codecov flags are due for each by the changed paths.
All: cxxcimod, cimod

codecov.yml:

codecov:
  ci:
    - github.com
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
   
comment:
  behavior: default
  layout: "reach, diff, flags, files"
  require_base: no
  require_changes: false
  require_head: no
  
coverage:
  status:
    patch:
      default:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
    project:
      default:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
      cxxcimod:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
        flags:
          - cxxcimod
      cimod:
        informational: true
        only_pulls: false
        target: auto
        if_ci_failed: error
        flags:
          - cimod
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: yes
      
flag_management:
  default_rules: 
    carryforward: true
flags:
  cxxcimod:
    paths: 
      - src
    carryforward: true
  cimod:
    paths: 
      - cimod
    carryforward: true

ignore:
  - "external/nlohmann_json/nlohmann/json.hpp"
  - "test"
 
github_checks:
  annotations: true

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Update setup.py
  setup.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update CMakeLists.txt
  cimod/CMakeLists.txt
Due: cimod

Create PythonAutoDetectOSX.cmake
  cmake/PythonAutoDetectOSX.cmake
Due: none

Update eigen.cmake
  external/eigen.cmake
Due: none

Update CMakeLists.txt
  src/CMakeLists.txt
Due: cxxcimod

Update CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Update MANIFEST.in
  MANIFEST.in
Due: none

Create main.hpp
  cimod/main.hpp
Due: cimod

Update main.cpp
  cimod/main.cpp
Due: cimod

Update main.hpp
  cimod/main.hpp
Due: cimod

Delete impl.hpp
  cimod/impl.hpp
Due: cimod

Create GenerateDocs.cmake
  cmake/GenerateDocs.cmake
Due: none

Update GenerateDocs.cmake
  cmake/GenerateDocs.cmake
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none
